#loading-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090909;
    color: #D4AF37;
}

#loading-screen p {
    margin: 6px;
}

#main-app {
    display: none;
}