body{
background:#000;
color:#FFD700;
font-family:Arial;
text-align:center;
padding:20px;
}

.logo{
font-size:40px;
font-weight:bold;
margin-top:40px;
}

.subtitle{
font-size:18px;
margin-bottom:40px;
}

.balance-box{
border:2px solid gold;
border-radius:20px;
padding:15px;
margin-bottom:25px;
}

button{
background:#FFD700;
color:black;
border:none;
border-radius:15px;
padding:12px;
margin:8px;
font-weight:bold;
font-size:16px;
width:160px;
}