body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#05070F;
color:white;
overflow-x:hidden;
}

*{
box-sizing:border-box;
}

.casino-container{
max-width:600px;
margin:auto;
padding:25px;
padding-bottom:120px;
}

h1{
margin:0;
font-size:42px;
font-weight:bold;
}

.subtitle{
color:#9ca3af;
margin-top:5px;
margin-bottom:30px;
}

.search-box{
margin-bottom:30px;
}

.search-box input{
width:100%;
padding:18px;
border:none;
outline:none;
border-radius:20px;
background:#151A2B;
color:white;
font-size:18px;
}

h2{
margin-top:30px;
margin-bottom:20px;
font-size:30px;
}

.games-slider{
display:flex;
overflow-x:auto;
gap:15px;
padding-bottom:10px;
}

.games-slider::-webkit-scrollbar{
display:none;
}

.game-card{
min-width:180px;
height:150px;
display:flex;
justify-content:center;
align-items:center;
background:#151A2B;
border-radius:25px;
border:1px solid rgba(255,215,0,.3);
font-size:22px;
font-weight:bold;
transition:.2s;
}

.game-card:hover{
transform:scale(1.03);
}

.info-card{
margin-top:25px;
padding:25px;
background:#151A2B;
border-radius:25px;
border:1px solid rgba(255,215,0,.3);
}

.info-card h2{
margin-top:0;
font-size:28px;
}

.info-card p{
font-size:20px;
margin-bottom:0;
color:#FFD700;
}

.bottom-menu{
position:fixed;
bottom:0;
left:0;
width:100%;
height:85px;
background:#111827;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid rgba(255,255,255,.05);
backdrop-filter:blur(15px);
}

.bottom-menu a{
text-decoration:none;
color:white;
font-size:14px;
font-weight:bold;
text-align:center;
}