body{

margin:0;
padding:0;

font-family:sans-serif;

background:#050816;
color:white;

overflow-x:hidden;

}


/* ОБЩИЙ КОНТЕЙНЕР */

.casino-container{

padding:20px;
padding-bottom:120px;

}


/* HEADER */

.casino-header{

text-align:center;
margin-bottom:25px;

}

.casino-header h1{

color:#FFD700;
margin-bottom:10px;

}

.casino-header p{

color:#8A8F9D;

}


/* SEARCH */

.search-box{

margin-bottom:25px;

}

.search-box input{

width:100%;

padding:18px;

border:none;
outline:none;

border-radius:20px;

background:#101827;
color:white;

font-size:16px;

}


/* ЗАГОЛОВКИ */

h2{

margin-top:30px;
margin-bottom:15px;

}


/* СЛАЙДЕР ИГР */

.games-slider{

display:flex;

overflow-x:auto;

gap:15px;

padding-bottom:10px;

}


/* КАРТОЧКА ИГРЫ */

.game-card{

min-width:170px;

padding:30px;

background:#101827;

border-radius:25px;

text-align:center;

font-weight:bold;

border:1px solid rgba(255,255,255,.05);

transition:.2s;

cursor:pointer;

}


.game-card:hover{

transform:scale(1.03);

}


/* ДОП БЛОКИ */

.casino-card{

margin-top:25px;

padding:25px;

background:#101827;

border-radius:25px;

border:1px solid rgba(255,255,255,.05);

}


.casino-card h1{

font-size:42px;
margin:10px 0;

color:#FFD700;

}


.casino-card p{

margin-bottom:10px;

}


/* BOTTOM MENU */

.bottom-menu{

position:fixed;

bottom:0;
left:0;

width:100%;
height:85px;

background:#0D1224;

display:flex;
justify-content:space-around;
align-items:center;

border-top:1px solid rgba(255,255,255,.05);

backdrop-filter:blur(15px);

z-index:999;

}


.bottom-menu a{

text-decoration:none;
color:white;

font-size:13px;
font-weight:bold;

text-align:center;

}


/* SCROLLBAR */

::-webkit-scrollbar{

display:none;

}