body{
margin:0;
padding:0;
background:#080b14;
color:white;
font-family:Arial,sans-serif;
}

.wallet-container{
padding:20px;
padding-bottom:40px;
}


/* HEADER */

.wallet-header h1{
font-size:42px;
margin-bottom:20px;
}


/* ВКЛАДКИ */

.wallet-tabs{
display:flex;
justify-content:space-between;
align-items:center;

background:#1b2130;
border-radius:20px;

padding:8px;
margin-bottom:25px;
}

.wallet-tabs div{
width:100%;
text-align:center;
padding:14px;
border-radius:15px;
color:#8e94a3;
font-weight:bold;
}

.active-tab{
background:#363c48;
color:white !important;
}


/* БОНУСНЫЙ БАННЕР */

.wallet-banner{

padding:25px;
border-radius:25px;

font-size:28px;
font-weight:bold;

margin-bottom:25px;

background:linear-gradient(90deg,#b845ff,#2f7dff);

}


/* РЕГИОН */

.wallet-region{

display:flex;
justify-content:space-between;
align-items:center;

background:#151a25;
padding:20px;

border-radius:20px;

font-size:24px;
margin-bottom:30px;

}


/* ЗАГОЛОВКИ */

h2{
font-size:38px;
margin-bottom:20px;
}


/* КРИПТА */

.crypto-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}


/* КАРТОЧКА */

.crypto-card{

background:#151a25;

border-radius:25px;

padding:25px;

font-size:28px;
font-weight:bold;

min-height:120px;

display:flex;
flex-direction:column;
justify-content:space-between;

}


/* ПРОЦЕНТ БОНУСА */

.crypto-card span{

display:inline-block;

margin-top:15px;

padding:8px 14px;

background:white;
color:#2f7dff;

border-radius:15px;

font-size:18px;
width:max-content;

}