body{
margin:0;
padding:0;
background:#050505;
font-family:sans-serif;
color:white;
overflow-x:hidden;
}


/* КОНТЕЙНЕР */

.wallet-container{
max-width:600px;
margin:auto;
padding:25px;
padding-bottom:50px;
}


/* HEADER */

.wallet-header{

text-align:center;
margin-bottom:30px;

}

.wallet-header h1{

color:#FFD700;
margin-bottom:10px;
font-size:32px;

}

.wallet-header h2{

font-size:48px;
margin:0;
color:white;

}

.wallet-header p{

color:#999;
margin-top:10px;

}


/* КНОПКИ */

.wallet-buttons{

display:flex;
justify-content:space-between;
gap:10px;
margin-bottom:20px;

}

.wallet-buttons button{

width:100%;
padding:15px;

border:none;
border-radius:18px;

background:#FFD700;
color:black;

font-weight:bold;
font-size:15px;

cursor:pointer;
transition:.3s;

box-shadow:0 0 15px rgba(255,215,0,.25);

}

.wallet-buttons button:hover{

transform:scale(1.03);

}


/* БОНУС */

.wallet-bonus{

padding:20px;
text-align:center;

background:#111;

border-radius:25px;
border:1px solid gold;

margin-bottom:25px;

font-weight:bold;
font-size:18px;

}


/* БЛОКИ */

.wallet-assets{

padding:20px;

background:#111;

border-radius:25px;

margin-bottom:25px;

border:1px solid rgba(255,215,0,.20);

}

.wallet-assets h2{

margin-top:0;
margin-bottom:20px;

color:#FFD700;

}


/* КАРТОЧКИ */

.asset-card{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px;

margin-bottom:12px;

background:#1a1a1a;

border-radius:20px;

border:1px solid rgba(255,215,0,.15);

transition:.3s;

}

.asset-card:hover{

transform:scale(1.01);
box-shadow:0 0 20px rgba(255,215,0,.15);

}

.asset-card span{

color:#FFD700;
font-weight:bold;

}


/* СКРОЛЛ */

::-webkit-scrollbar{

display:none;

}